<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Library Management System</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <h1>Library Management System</h1>
    <p>Manage your personal book collection online.</p>

    <div class="actions">
        <a href="/login-page">
            <button>Login</button>
        </a>

        <a href="/register-page">
            <button>Register</button>
        </a>
    </div>

</body>
</html>
